.container {  display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    gap: 0px 0px;
    place-items: center;
    grid-auto-flow: row;
    grid-template-areas:
      "Death-roll Death-roll Death-roll Death-roll . Stakes Stakes"
      "Death-roll Death-roll Death-roll Death-roll . Stakes Stakes"
      ". . . . . . .";
  }
  
  .Death-roll { 
    grid-area: Death-roll; 
    background-color: #1565C0;
    padding: 30%;
    margin: 0;
}
  
  .Stakes { 
    grid-area: Stakes; 
    background-color: #64B5F6;
    padding: 30%;
    margin: 0;

}
  
  body {
    background-color: #E3F2FD;
    color: white;
    margin: 0;
  }

  button {
    position: relative;
    z-index: 1;
    cursor: pointer;
    margin: 0 12px;
    padding: 16px 32px;
    outline: none;
    border: none;
    border-radius: 24px;  
    background-color: aquamarine;
    color: black;
    letter-spacing: 0.5px;
    font-size: 16px;
    font-weight: 700;
    line-height: 16px;
    box-shadow: 0 2px 8px -1px rgba(21, 25, 36, 0.32);
  }

  label {
    font-size: 30px;
  }
select {
    width: 100%;
    font-size: 20px;
}

p {
    color: red;
    font-size: 40px;
    
}